.service-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: rgba(169, 235, 131, 0.85); /* light overlay */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.service-box {
  flex: 1;
  color: #067d38;
  font-weight: 600;
}
